.today--style {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.header__div {
  border-radius: 15px;
  border: 8px solid white;
}

.header__div--cases {
  background-color: rgba(20, 86, 136, 0.3);
}

.header__div--recoveries {
  background-color: rgba(13, 121, 38, 0.3);
}

.header__div--active {
  background-color: rgba(115, 38, 141, 0.3);
}

.header__div--deaths {
  background-color: rgba(219, 41, 41, 0.3);
}

.header__div--vaccinations {
  background-color: rgb(20, 20, 20, 0.3);
}

@media only screen and (max-width: 767px) {
  #grid.ui.stackable.grid {
    width: auto;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}
