.ui.selection.dropdown {
  min-width: 25%;
}

.regions__dropdown {
  margin-left: 1rem;
}

@media only screen and (max-width: 767px) {
  .ui.selection.dropdown {
    min-width: 95% !important;
    margin-top: 1.5rem !important;
  }

  .regions__dropdown {
    margin-left: 0.5rem;
  }

  .ui.selection.dropdown .menu {
    max-height: 15rem !important;
  }
}
