.ui.selection.dropdown {
  min-width: 25%;
}

@media only screen and (max-width: 767px) {
  .ui.selection.dropdown {
    min-width: 95% !important;
    margin:1rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .ui.selection.dropdown .menu {
    max-height: 15rem !important;
  }
}
