.nav {
  z-index: 1000;
  background-color: rgb(32, 32, 43) !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav__options {
  text-align: left;
  margin-left: 0.7em;
}

.nav__dropdown {
  width: 50%;
}

* {
  color: inherit;
}

.dropdown {
  z-index: 100;
}

.fa-shield-virus:hover,
.fa-shield-virus:focus {
  color: rgba(240, 99, 99, 0.753) !important;
  transition: color 0.2s ease-out !important;
}
